* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.topper {
  padding: 15px;
  font-size: 30px;
  background-color: lightgrey;
  min-height: 50%;
}

.App-header {
  color: white;
}

.feed-title {
  font-size: 30px;
  padding-top: 20px;
}

h1 {
  margin: 20px;
}

button {
  font-size: 40px;
  height: 60px;
  width: 60px;
}

.modal-content {
  font-size: 20px;
}

.modal div {

}

label {
  font-size: 30px;
  margin: 5px;
}

input {
  margin: 5px;
}

section {
}

article {
  z-index: -1;
  background: lightgrey;
  height: auto;
  width: 33%;
  height: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 33%;
  margin-right: 33%;
  border-style: solid;
  border-width: 1px;
}

#share-button {
  font-size: 20px;
  height: auto;
  width: auto;
  padding: 10px;
  margin: 20px;
}

.backdropStyle {
  position: 'fixed';
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: lightgrey;
  padding: 50px;
};

.modalStyle {
  background-color: #fff;
  border-radius: 5;
  max-width: 500px;
  min-height: 300px;
  margin: 0 auto;
  padding: 30px;
};
