* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  z-index: -1;

}

.topper {
  position: fixed;
  width: 100%;
  padding: 15px;
  font-size: 30px;
  background-color: lightgrey;
  min-height: 150px;
}

.App-header {
  color: white;
}

.feed-title {
  font-size: 30px;
  padding-top: 20px;
  font-weight: normal;
}

.app-title {
  margin: 20px;
  font-size: 60px;
  font-weight: normal;
  font-family: Parisienne;
  color: black;
}

h1 {
  margin: 20px;
}

button {
  font-size: 40px;
  font-weight: 500;
  height: 60px;
  width: 60px;
  padding: 0px 7px 3px 7px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 35px;
  font-family: Permanent Marker;
  margin: 0;
}

.modal-content {
  font-size: 20px;

}

.modal div {
  padding: 10px;
}

label {
  font-size: 25px;
  margin: 5px;
}

input {
  margin: 5px;
}

section {

}

article {
  background: lightgrey;
  height: auto;
  width: 33%;
  height: 450px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 33%;
  margin-right: 33%;
  border-style: solid;
  border-width: 3px;
}

#share-button {
  font-size: 20px;
  height: auto;
  width: auto;
  padding: 10px;
  margin-top: 20px;
}

.meme-container {
  padding-top: 335px;
}

.modal {
  background-color: #fff;
  border: 5px solid black;
  max-width: 500px;
  min-height: 300px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
}
