* {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: #F2F3F5;
}
h1 {
  margin: 20px;
}
button {
  font-size: 40px;
  font-weight: 500;
  height: 60px;
  width: 60px;
  padding: 0px 7px 3px 7px;
  color: #606060;
}
.app {
  text-align: center;
  z-index: -1;
}

/*-----welcome page-----*/
h1 {
  font-family: 'Satisfy', cursive;
  font-size: 50px;
  text-align: center;
}
.enter-button {
  font-family: Avenir Next;
  font-size: 18px;
  width: 15%;
  margin-left: 45%;
  margin-right: 45%;
}
.welcome-modal {
  background-color: white;
  padding: 40px;
  width: 60%;
  height: 450px;
  margin-left: 20%;
  margin-right: 20%;
}
.welcome {

}
.welcome-message{
  font-family: Avenir Next;
  font-size: 14px;
}
/*-----*/

/*-----meme article content-----*/
article {
  background: #E0E0E0;
  height: auto;
  width: 33%;
  min-width: 400px;
  height: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 33%;
  margin-right: 33%;
  padding: 25px 10px 25px 10px;
  border-style: double;
  border-width: 3px;
}
h3 {
  font-size: 22px;
  margin: 0px;
  padding: 10px;
  font-family: Avenir Next;
  font-weight: 100;
  letter-spacing: .5px;
  color: black;
  width: 77%;
}
h6 {
  font-size: 14px;
  margin: 0;
  font-family: Avenir Next;
  font-weight: 100;
  letter-spacing: .5px;
  color: black;
  width: 77%;
}
p {
  font-size: 30px;
  margin: 0;
  font-family: 'Satisfy', cursive;
  letter-spacing: 1.25px;
  text-shadow: 1px 1px white;
}
.heart {
  height: 2.75vw;
  width: 2.75vw;
}
.like-button {
  color: white;
  display: inline-block;
  float: left;
}
.like-amt {
  display: inline-block;
  padding: 1vw;
}
/*-----*/

/*----- bottom layer meme feed -----*/
.meme-container {
  padding-top: 235px;
}
/*-----*/

 /*----- topper style -----*/
.topper {
  position: fixed;
  height: 210px;
  width: 100%;
  padding: 15px;
  font-size: 30px;
  background-color: #EAF1F7;
  min-height: 150px;
  border-style: groove;
}
.app-header {
  height: 67%;
}
.feed-title {
  font-family: Avenir Next;
  font-weight: 100;
  font-size: 25px;
  color: #606060;
  letter-spacing: 2px;
  width: 100%;
  height: 33%;
  display: inline-block;
  float: left;
  margin: 0;
  padding: 12px;
}
.app-title {
  margin: 0;
  padding: 10px;
  text-align: center;
  font-size: 80px;
  font-weight: 100;
  font-family: 'Satisfy', cursive;
  color: #003366;
  text-shadow: 1px 1px white;
  letter-spacing: .25px;
  width: 50%;
  display: inline-block;
  float: left;
  border-bottom: 1px solid lightgrey;
}
.add-button {
  width: 25%;
  display: inline-block;
  float: left;
  margin: 0;
  padding-top: 40px;
  color: #404040;
}
.space-saver-header {
  width: 25%;
  display: inline-block;
  float: left;
  margin: 0;
}
/*-----*/

/*----- modal style -----*/
.modal-content {
 font-size: 20px;
}
.modal {
 background-color: #fff;
 border: 5px solid black;
 max-width: 500px;
 min-height: 300px;
 margin: 0 auto;
 margin-top: 20px;
 padding: 10px;
}
.modal div {
 padding: 10px;
}
.share-button {
  font-size: 20px;
  height: auto;
  width: auto;
  padding: 10px;
  margin-top: 20px;
  font-family: Avenir Next;
  letter-spacing: 1px;
}
h4 {
  font-size: 35px;
  font-family: 'Satisfy', cursive;
  margin: 0;
}
label {
  font-size: 25px;
  margin: 5px;
  font-family: Avenir Next;
  letter-spacing: .25px;
}
input {
  margin: 5px;
  width: 175px;
}
/*-----*/
